* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
}

nav {
    display: flex;
    background-color: rgb(187, 110, 23);
    padding: 10px;
    color: white;
    justify-content: space-around;
    font-weight: bold;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.logo-boolean {
    width: 130px;
    height: 30px;
}

.user {
    display: flex;
    width: 50px;
}

.container-shop {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

img {
    width: 300px;
    height: 400px;
}

.clothes .clothes-discount {
    position: absolute;
    bottom: 30px;
    background-color: red;
    color: white;
    padding: 3px 6px;
}

.discount-clothes {
    color: red;
    font-weight: bold;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 110px;
    background-color: white;
    margin-left: 270px;
} 

.heart2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 630px;
    background-color: white;
    margin-left: 270px;
} 

footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    width: 100px;  
}